# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Data (keep folders, ignore files)
data/raw/*.csv
data/processed/*.csv

# OS
.DS_Store
Thumbs.db

# Reports
reports/figures/*.png
